<launch>

    <arg name="use_robot_hw" default="False"/>

    <include file="$(find staubli_barretthand_description)/launch/upload_staubli_bhand.launch"/>
    <group if="$(arg use_robot_hw)" >
        <include file="$(find owd)/launch/owd_bhand.launch"/>
        <node name="staubli_controller" pkg="staubli_tx60"  type="staubli_tx60_server" args="http://192.168.11.254:5653/"/>

    </group>

    <group unless="$(arg use_robot_hw)">
         <!-- We do not have a robot connected, so publish fake joint states -->
         <node name="mock_joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
             <param name="/use_gui" value="false"/>
             <rosparam param="/source_list">[/move_group/fake_controller_joint_states]</rosparam>
         </node>
    </group>
         <!-- Given the published joint states, publish tf for the robot links -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="true" output="screen" />

    <include file="$(find calibration)/launch/launchKinectRobot.launch" />

</launch>